body {
	font-family: Verdana;
}

#logo {
	height: 30px;
	display: inline-block;
}

#title {
	display: inline-block;
	font-weight: 200;
	font-size: 20px;
}

#logo-bar {
	height: 50px;
	padding: 5px;
	width: 100%;
	text-align: center;
	background: linear-gradient(#dddddd, #ffffff);
	background: -webkit-linear-gradient(#dddddd, #ffffff);
}

.padding-20 {
	padding: 20px;
}

.survey-list-container {
	margin-top: 5%;
	background-color: #f0f0f0;
	height: 85%;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
}


.survey-image {
	height: 100px;
	width: 100px;
	border: 1px solid #f0f0f0;
}

.survey-thumb {
	padding: 5px;
	border-radius: 7px;
	background-color: #dddddd;
	width: 110px;
	height: 200px;
	color: #444444;
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}
.survey-statistic {
	display: inline-block;
}