<div ng-show = "boss">

	<div class = "container">
		<h3> Edit Survey </h3>

		<label> Title </label>
		<input class = "form-control" type = "text" ng-model = "survey.title"/>

		<label> Description </label>
		<textarea class = "form-control" ng-model = "survey.description"> </textarea>

		<label> Image Url </label>
		<input class = "form-control" type = "text" ng-model = "survey.imgUrl"/>

		<label> Language </label>
		<select class = "form-control"
				ng-options = "language.id as language.name for language in languages track by language.id" 
				ng-model = "survey.language">
		</select>

		<label> Category </label>
		<select class = "form-control"
				ng-options = "category.id as category.name for category in categories track by category.id" 
				ng-model = "survey.category">
		</select>

		<label> Is login required to complete the survey? </label>
		<input type = "checkbox" ng-model = "survey.loginRequired" />

		<br />

		<ul>
			<li ng-repeat = "question in questions">
				<label> Question text </label>
				<input class = "form-control" type = "text" ng-model = "question.text" />

				<label> Question type </label>
				<select class = "form-control"
						ng-options = "type.id as type.name for type in questionTypes track by type.id" 
						ng-model = "question.type">
				</select>

				{{questionTypes[question.type - 1].description}}
			</li>
		</ul>
		<button class = "btn btn-default" ng-click = "addSurvey()"> Save survey </button>
	</div>
</div>