<div class = "row">
	<div class = "col-sm-6 col-md-6" class = "padding-20"> 
		<div class = "survey-list-container">
			<h3> Latest Surveys </h3>

			<div class = "survey-thumb">
				<div class = "survey-image" back-img = "http://www.newton.ac.uk/files/covers/968361.jpg"> </div>
				<p> Intrebare random abcd abcd abcd? </p>		
				<div class = "survey-statistic"> <span class = "glyphicon glyphicon-question-sign"> </span> 10 </div>
				<div class = "survey-statistic"> <span class = "glyphicon glyphicon-user"> </span> 66 </div>
			</div>


		</div>
	</div>
	<div class = "col-sm-6 col-md-6" class = "padding-20"> 
		<div class = "survey-list-container"> 
			<h3> Recommended Surveys </h3>
		</div>
	</div>
</div>	