<div class = "container">
	<h3> My account </h3>

	<div ng-show = "user.id == 0">
		<a href = "#/register"> <button class = "btn btn-default"> Register </button> </a>
		<a href = "#/login"> <button class = "btn btn-default"> Log in </button> </a>
	</div>

	<div ng-show = "user.id != 0">
		<table class = "table">
			<tr>
				<td>
					<h2> {{user.name}} </h2>
					<h3> Rating: {{user.rating}} </h3>
				</td>
				<td>
					<img ng-src = "{{user.img}}" style = "height: 200px;"/>
				</td>
			</tr>
		</table>
		<br />

		<button ng-show = "user.level == 0 && asked == false" class = "btn btn-default" ng-click = "requestBossRights()">
			I want to publish surveys!
		</button>

		<br />
		<button class = "btn btn-danger" ng-click = "logOut()"> Log out </button>
	</div>
</div>	