<div class = "survey-list-container">
	<div ng-repeat = "survey in surveys" style = "display: inline-block;">
		<a href = "#/statistics/{{survey.id}}">
			<div class = "survey-thumb">
				<div class = "survey-image" back-img = {{survey.img}}> </div>
				<br />
				<div class = "survey-statistic"> <span class = "glyphicon glyphicon-question-sign"> </span> 10 </div>
				<div class = "survey-statistic"> <span class = "glyphicon glyphicon-user"> </span> 66 </div>
				<p> {{survey.title}} </p>		
			</div>
		</a>
	</div>
</div>