<div class = "container">
	<table class = "table table-stripped">
		<thead>
			<th> # </th>
			<th> Username </th>
			<th> Rating </th>
			<th> Level </th>
			<th> </th>
		</thead>
		<tbody>
			<tr ng-repeat = "user in users">
				<td> {{user.index}} </td>
				<td> {{user.name}} </td>
				<td> {{user.rating}} </td>
				<td> {{user.level}} </td>
				<td>
					<div ng-show = "admin && user.level == 0">
						<button ng-click = "changeStatus(user.id, user.level)"> <span class = "glyphicon glyphicon-arrow-up"> </span> </button>
					</div>
					<div ng-show = "admin && user.level == 1">
						<button ng-click = "changeStatus(user.id, user.level)"> <span class = "glyphicon glyphicon-arrow-down"> </span> </button>

					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>